doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href="component/style/style.css")

    body

    block navbar
        include component/pug/header.pug
    
    block konten

    block footer 