extends komponen/pug/_template.pug

block content
  -
    const newsData = [
      {
        title: 'Berita memperingati Kemerdekaan',
        image: 'https://storage.googleapis.com/a1aa/image/Xq7xPY6RqFoDB1vH1eqqM0sQWIZghfAs5cMDOi9ZcYJ2xnrTA.jpg',
        description: 'Lorem ipsum dolor amet, consectetur adipiscing elit. Deplibus aute veniam torquent fermentum porttitor.',
        author: 'John Doe',
        date: '7 Agustus 2014'
      },
      {
        title: 'Title',
        image: 'https://storage.googleapis.com/a1aa/image/Xq7xPY6RqFoDB1vH1eqqM0sQWIZghfAs5cMDOi9ZcYJ2xnrTA.jpg',
        description: 'Lorem ipsum dolor amet, consectetur adipiscing elit. Deplibus aute veniam torquent fermentum porttitor.',
        author: 'Pramoedya Ananta Toer',
        date: '1 Agustus 1960'
      },
      {
        title: 'Title',
        image: 'https://storage.googleapis.com/a1aa/image/Xq7xPY6RqFoDB1vH1eqqM0sQWIZghfAs5cMDOi9ZcYJ2xnrTA.jpg',
        description: 'Lorem ipsum dolor amet, consectetur adipiscing elit. Deplibus aute veniam torquent fermentum porttitor.',
        author: 'Sapardi Djoko Damono',
        date: '24 Juni 1984'
      },
      {
        title: 'Title',
        image: 'https://storage.googleapis.com/a1aa/image/Xq7xPY6RqFoDB1vH1eqqM0sQWIZghfAs5cMDOi9ZcYJ2xnrTA.jpg',
        description: 'Lorem ipsum dolor amet, consectetur adipiscing elit. Deplibus aute veniam torquent fermentum porttitor.',
        author: 'Andre Hirata',
        date: '5 September 2005'
      },
      {
        title: 'Title',
        image: 'https://storage.googleapis.com/a1aa/image/Xq7xPY6RqFoDB1vH1eqqM0sQWIZghfAs5cMDOi9ZcYJ2xnrTA.jpg',
        description: 'Lorem ipsum dolor amet, consectetur adipiscing elit. Deplibus aute veniam torquent fermentum porttitor.',
        author: 'Tere Liye',
        date: '15 Februari 2015'
      },
      {
        title: 'Title',
        image: 'https://storage.googleapis.com/a1aa/image/Xq7xPY6RqFoDB1vH1eqqM0sQWIZghfAs5cMDOi9ZcYJ2xnrTA.jpg',
        description: 'Lorem ipsum dolor amet, consectetur adipiscing elit. Deplibus aute veniam torquent fermentum porttitor.',
        author: 'Ayah Azhar',
        date: '9 Januari 2018'
      }
    ];
  .konten-berita
    h1.header-container-berita Berita
    .container-berita
      each news in newsData
        +newsItem(news.title, news.image, news.description, news.author, news.date)
    .button-berita
      button.next-button-berita(onclick="location.href='berita1.html'") Next