extends komponen/pug/_template.pug

block content
  .container-saran
    +formSaran
    .button-saran
      button.button.back(onclick="location.href='feedback.html'") Back
      button.button.next(onclick="location.href='Makasih.html'") Next