extends component/_template.pug

block content
  .container
    h1 Form Feedback
    p Kami senang bisa mengetahui umpan balik anda

    form(action="/submit-feedback" method="POST")
      // Field Nama
      .form-group
        label(for="name") Nama *
        input#name(type="text" name="name" placeholder="Type here..." required)

      // Field Email
      .form-group
        label(for="email") E-mail *
        input#email(type="email" name="email" placeholder="contoh@contoh.com" required)

      // Field Tipe Feedback
      .form-group
        label Tipe Feedback :
        .form-options
          label
           input(type="radio" name="feedbackType" value="Penilaian" required) 
           | Penilaian
          label
           input(type="radio" name="feedbackType" value="Saran/Pertanyaan") 
           | Saran / Pertanyaan

      // Tombol Submit
      .form-group
        button(type="submit") Next
