extends komponen/pug/_template.pug

block content
  .container-feedback
    h1.title-feedback Form Feedback
    p.text-feedback Kami senang bisa mengetahui umpan balik anda
    +formGroup('Nama *', 'name', 'text', 'Type here.....', 'Nama anda')
    +formGroup('E-mail *', 'email', 'email', 'Type here.....', 'contoh@contoh.com')
    +radioGroup('Tipe Feedback :', [
      { value: 'penilaian', label: 'Penilaian' },
      { value: 'saran', label: 'Saran / Pertanyaan' }
    ])
    button.submit-btn-feedback Next