extends component/_template.pug
block content
  +layananKami(['Buku Terbaru', 'Buku Terpopuler', 'Majalah'])
  h1 Berita Terbaru
    .news-grid
      +newsItem("Berita memperingati Kemerdekaan", "img/Berita.jpg", "Lorem ipsum dolor amet, consectetur adipiscing elit. Duis pulvinar tortor hendrerit porta.", "John Doe", "17 Agustus 2014")
      +newsItem("Title", "img/Berita.jpg", "Lorem ipsum dolor amet, consectetur adipiscing elit. Duis pulvinar tortor hendrerit porta.", "Penulis 2", "7 Agustus 1980")
      +newsItem("Title", "img/Berita.jpg", "Lorem ipsum dolor amet, consectetur adipiscing elit. Duis pulvinar tortor hendrerit porta.", "Sasaki Ojoho Danamo", "24 Juni 1984")
      +newsItem("Title", "img/Berita.jpg", "Lorem ipsum dolor amet, consectetur adipiscing elit. Duis pulvinar tortor hendrerit porta.", "Andrie Artha", "1 September 2005")
      +newsItem("Title", "img/Berita.jpg", "Lorem ipsum dolor amet, consectetur adipiscing elit. Duis pulvinar tortor hendrerit porta.", "Tana Uje", "15 Januari 2015")
      +newsItem("Title", "img/Berita.jpg", "Lorem ipsum dolor amet, consectetur adipiscing elit. Duis pulvinar tortor hendrerit porta.", "Ayah Azhar", "9 Januari 2014")
    a.view-more(href="#") View More

  +lokasiPerpusum('Lokasi Perpusum', 'path/to/your/map-image.jpg', 'Jl. Raya Lenteng No 2 Sumenep')