include component/pug/_header.pug
include component/pug/_Article Card Berita.pug
include component/pug/_footer.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Berita
        doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Example Page with Navbar and Cards
    link(rel="stylesheet" href="/path/to/your/style.css") // Ganti dengan jalur file CSS

  body
    // Navbar Section
    .navbar
      a(href="#home") Home
      .dropdown
        button.dropbtn Profile >
        .dropdown-content
          a(href="#VisiMisi") Visi dan Misi
          a(href="#StrukturOrganisasi") Struktur Organisasi
          a(href="#Perkembangan") Perkembangan
          a(href="#UnitKerja") Unit Kerja
      .dropdown
        button.dropbtn Service >
        .dropdown-content
          a(href="#Feedback") Feedback
          a(href="#PenggolonganUsia") Penggolongan Usia
          a(href="#LokasiPerpusum") Lokasi Perpusum
          a(href="#BiodataPenerbit") Biodata Penerbit
      .dropdown
        button.dropbtn Activity >
        .dropdown-content
          a(href="#Berita") Berita
          a(href="#Pengumuman") Pengumuman
      .dropdown
        button.dropbtn Recommendation >
        .dropdown-content
          a(href="#Direkomendasikan") Direkomendasikan
          a(href="#ReviewPengguna") Review Pengguna
      a(href="#search") 🔍Search
      button.lang-button English

    // Cards Section
    .container
      .card
        img(src="Berita.jpg" alt="Newspaper Image")
        h3 Title 1
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        span Penulis: Puti Wijaya
        span 20 Maret 1988
      .card
        img(src="Berita.jpg" alt="Newspaper Image")
        h3 Title 2
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        span Penulis: Risa Sisi
        span 26 September 2017
      .card
        img(src="Berita.jpg" alt="Newspaper Image")
        h3 Title 3
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        span Penulis: Dewi Lestari
        span 24 Mei 2001

    // Navigation Buttons
    .navigation
      button Prev
      button Next

    // Footer Section
    .footer
      .social-icons
        img(src="Twitter.png" alt="Icon X")
        img(src="Instagram.jpg" alt="Instagram")
        img(src="Youtube.webp" alt="YouTube")
        img(src="Facebook.avif" alt="Facebook")
      .info
        div
          h3 Jam Operasional
          p Senin - Jumat > 07.00 - 17.00
          p Sabtu - Minggu > 08.00 - 17.00
          p Cuti bersama/libur nasional > tutup
          p Hak Cipta 2024 © perpusum indonesia
        div
          h3 Layanan Unggulan
          p Buku Terbaru
          p Buku Terpopuler
          p Majalah
        div
          h3 Kontak Kami
          p Telepon: 0812345678
          p Instagram: perpusum_
          p Email: perpusum@gmail.com
          p Facebook: perpusum23
          p Twitter: @perpusum02
          p Alamat: Jl raya lenteng No 2 sumenep


    body 
      +dropdown('Profile', [
        {text: 'Visi dan Misi', href: '#Visi dan Misi'},
        {text: 'Struktur Organisasi', href: '#Struktur Organisasi'},
        {text: 'Perkembangan', href: '#Perkembangan'},
        {text: 'Unit Kerja', href: '#Unit Kerja'}
      ])
      +dropdown('Service', [
        {text: 'Feedback', href: '#Feedback'},
        {text: 'Penggolongan Usia', href: '#Penggolongan Usia'},
        {text: 'Lokasi Perpusum', href: '#Lokasi Perpusum'},
        {text: 'Biodata Penerbit', href: '#Biodata Penerbit'}
      ])
      +dropdown('Activity', [
        {text: 'Berita', href: '#berita'},
        {text: 'Pengumuman', href: '#pengumuman'}
      ])
      +dropdown('Recommendation', [
        {text: 'Direkomendasikan', href: '#Direkomendasikan'},
        {text: 'Review Pengguna', href: '#Review Pengguna'}
      ])
      a(href="#search") 🔍Search
      +langButton('English')
      +footer

