extends komponen/pug/_template.pug

block content
  h1.header-age-classification Penggolongan Usia
  .container-age-categories
    +ageCategory('Buku untuk Anak anak', ['YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER'])
    +ageCategory('Buku untuk Remaja', ['YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER'])
    +ageCategory('Buku untuk Dewasa', ['YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER', 'YOUR BOOK COVER'])
