extends komponen/pug/_template.pug

block content
  .container-announcement
    .header-announcement Pengumuman
    .star-announcement ★

    +announcementComponent("Tanggal 28-08-2024", "Pengumuman Hasil Akhir CPNS 2024")
    +announcementComponent("Date", "Announcement.......")
    +announcementComponent("Date", "Announcement.......")
    +announcementComponent("Date", "Announcement.......")

    button.next-button-announcement Next