extends komponen/pug/_template.pug

block content
  .container-announcement
    h1.header-announcement Pengumuman

    +announcementComponent("Tanggal 28-08-2024", "Pengumuman Hasil Akhir CPNS 2024")
    +announcementComponent("Date", "Announcement.......")
    +announcementComponent("Date", "Announcement.......")
    +announcementComponent("Date", "Announcement.......")

    button.next-button-announcement Next