extends komponen/pug/_template.pug

block content
  -
    const iconData = [
      { iconClass: 'fas fa-images' },
      { iconClass: 'fas fa-images' }
    ];
  -
    const textData = [
      { title: 'Lorem ipsum', description: 'Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor.' },
      { title: 'Lorem ipsum', description: 'Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor.' },
      { title: 'Lorem ipsum', description: 'Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor.' }
    ];
  .container-perkembangan
    h1.title-perkembangan Perkembangan Perpusum
    .row-perkembangan
      each icon in iconData
        +iconColumn(icon.iconClass)
        .arrow-perkembangan
          i(class="fas fa-arrow-right")
      +iconColumn('fas fa-images')
    .row-perkembangan
      each text in textData
        +textColumn(text.title, text.description)