extends komponen/pug/_template.pug

block content
  .konten-perkembangan1
    .image-container-perkembangan1
    .title-perkembangan1 #{title}
    .description-perkembangan1
      +perkembangan("fas fa-images", "Lorem ipsum", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sagittis porttitor magnis ipsum primis penatibus. At viverra tortor non vulputate at vel tristique consectetur sed. Mauris consequat rhoncus ut volutpat ante varius convallis proin. Non facilisis urna ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia. Convallis habitant urna urna primis habitasse vivamus semper efficitur a.")
    .button-perkembangan1 
      button.button-back-perkembangan1(onclick="location.href='perkembangan.html'") Back