extends komponen/pug/_template.pug

block content
  h1.header-title Review Pengguna
  .container-review
    +reviewCard('Johan Liebert', '25/04/2024', 'Buku ini sangat informatif', 'https://storage.googleapis.com/a1aa/image/WCbxMWTlAVJVI1ICDecoEJ5NvNJflfVS8F8Gp6LN1xRAXVXnA.jpg', ['https://storage.googleapis.com/a1aa/image/yVd0Hhe19q0XRqnaY4GfzaMkOzMLrcul4Vvr0H2fB9WFXVXnA.jpg', 'https://storage.googleapis.com/a1aa/image/yVd0Hhe19q0XRqnaY4GfzaMkOzMLrcul4Vvr0H2fB9WFXVXnA.jpg'])
    +reviewCard('Gufron', '25/04/2024', 'Buku ini misterius sulit dipahami', 'https://storage.googleapis.com/a1aa/image/WCbxMWTlAVJVI1ICDecoEJ5NvNJflfVS8F8Gp6LN1xRAXVXnA.jpg', ['https://storage.googleapis.com/a1aa/image/yVd0Hhe19q0XRqnaY4GfzaMkOzMLrcul4Vvr0H2fB9WFXVXnA.jpg', 'https://storage.googleapis.com/a1aa/image/yVd0Hhe19q0XRqnaY4GfzaMkOzMLrcul4Vvr0H2fB9WFXVXnA.jpg'])
    +reviewCard('Name', 'Date', 'Description.......', 'https://storage.googleapis.com/a1aa/image/WCbxMWTlAVJVI1ICDecoEJ5NvNJflfVS8F8Gp6LN1xRAXVXnA.jpg', ['https://storage.googleapis.com/a1aa/image/yVd0Hhe19q0XRqnaY4GfzaMkOzMLrcul4Vvr0H2fB9WFXVXnA.jpg', 'https://storage.googleapis.com/a1aa/image/yVd0Hhe19q0XRqnaY4GfzaMkOzMLrcul4Vvr0H2fB9WFXVXnA.jpg'])