extends komponen/pug/_template.pug

block content
  .kontainer-Struktur-Organisasi
    h1.header-struktur-organisasi Struktur Organisasi
    .konten-Struktur-Organisasi
      a(href="KepalaPerpus.html")
        .kepalaPerpus
      img(src="img/StrukturOrganisasi.png")