extends komponen/pug/_template.pug

block content
  -
    const dataUnitKerja = [
      'Biro SDM dan Umum',
      'Biro Perencanaan dan Keuangan',
      'Biro Hukum, Organisasi, Kerjasama dan Humas',
      'Pusat Data dan Informasi',
      'Pusat Pembinaan Pustakawan',
      'Pusat Pendidikan dan Pelatihan',
      'Pusat Jasa Perpustakaan dan Pengelolaan Naskah Nusantara',
      'Inspektorat',
      'Pusat Pengembangan Perpustakaan Umum dan Khusus',
      'Pusat Preservasi dan Alih Media Bahan Perpustakaan',
      'Pusat Jasa Perpustakaan dan Pengembangan koleksi Perpustakaan',
      'Pusat Analisis Perpustakaan dan Pengembangan Budaya Baca'
    ];
  .container-unit
    h1.title-unit Unit Kerja
    .grid-container-unit
      each unitKerja in dataUnitKerja 
        +gridItemUnit(unitKerja)
