extends komponen/pug/_template.pug

block content
  .container-vision
    h1.header-vision Visi dan Misi
    .content-vision
      h2.subtitle-vision Visi
      p.text-vision "Terwujudnya Indonesia maju yang berdaulat, mandiri, dan berkepribadian berlandaskan gotong royong melalui penguatan budaya literasi"
      h2.subtitle-vision Misi
      p.text-vision "Meningkatkan Perpustakaan sesuai Standar Nasional Perpustakaan, Pelayanan Prima Perpustakaan, dan Pelestarian Bahan Pustaka dan Naskah Nusantara"
