body {
  display: block; /* Ini sudah ada */
  margin: 0; /* Mengatur margin menjadi 0 */
}

h1 {
  display: block;
  font-size: 48px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-family: Arial, sans-serif; /* Menambahkan font-family */
  color: #188D00; /* Mengubah warna teks */
  text-align: center;
}

/* Style untuk navbar */
.navbar {
  background-color: #188d00;
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative;
}

/* Gambar Logo */
.navbar-logo {
  width: 240px;
  height: 58px;
  margin-right: 285px; /* Memberikan jarak antara gambar dan item navbar */
}

/* Kontainer untuk item navbar */
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Memastikan item berada di tengah */
}

/* Style untuk setiap item navbar */
.nav-item {
  position: relative;
  margin: 0 15px; /* Memberikan jarak antar item */
}

/* Link dalam navbar */
.nav-item a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: inline-block;
}

/* Hover untuk item navbar */
.nav-item a:hover {
  color: #0015FF;
}

/* Style untuk dropdown */
.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Item dalam dropdown */
.dropdown-item {
  padding: 10px;
}

/* Link dalam dropdown */
.dropdown-item a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px;
}

/* Hover untuk link dropdown */
.dropdown-item a:hover {
  color: #0015FF;
}

/* Tampilkan dropdown ketika di-hover */
.nav-item:hover .dropdown {
  display: block;
}

/* Style untuk tombol bahasa */
.language-btn {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto; /* Memposisikan tombol bahasa ke kanan */
}

/* Hover untuk tombol bahasa */
.language-btn:hover {
  background-color: #005f75;
}

/* Media Query untuk perangkat yang lebih kecil */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 10px 0;
  }

  .language-btn {
    margin: 10px 0;
  }
}

/* Style untuk footer */
.footer-container {
  background-color: #188d00;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-social a {
  margin: 0 10px;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ccc;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.footer-section p:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Media query untuk tampilan*/
@media (max-width: 768px) {
  .footer-info {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}

/* berita css */
.body-berita {
  font-family: Arial, sans-serif;
  background-color: #d4edda;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-berita {
  color: #188d00;
  margin-top: 20px;
  margin-left: 40px;
}

.container-berita {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.news-item-berita {
  background-color: #52A940;
  color: white;
  border-radius: 10px;
  width: 30%;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-item-berita img {
  width: 100%;
  border-radius: 10px;
}

.news-item-berita h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.news-item-berita p {
  font-size: 0.9em;
  text-align: left;
}

.news-item-berita .author-berita {
  font-weight: bold;
}

.news-item-berita .date-berita {
  font-style: italic;
}

.button-container-berita {
  margin: 20px;
  text-align: center;
}

.button-container-berita button {
  background-color: #52A940;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.button-container-berita button:hover {
  background-color: #228b22;
}

/* layanan kami */
.body-services {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
}

.header-services {
  text-align: center;
  color: #188d00;
  font-weight: bold;
  margin-top: 90px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 160px;
}

.service-item-services {
  background-color: #52A940;
  color: white;
  padding: 36px 100px;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin-left: 50px;
  margin-right: 50px;
  pointer-events: none;
}

.service-item-services:hover {
  pointer-events: none;
}

/* map css */
.lokasi-container {
  color: #188d00;
  font-size: 24pt;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 128px;
}

.lokasi-map img {
  width: 100%;
  max-width: 1313px;
  height: auto;
  border-radius: 10px;
  margin-top: 40px;
}

.lokasi-alamat p {
  color: #188d00;
  font-size: 1.2em;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  margin-top: 30px;
}

/* visi misi */
.container-vision {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.header-vision {
  color: green;
  margin-top: 106px;
}

.content-vision {
  margin: 20px auto;
  margin-bottom: 105px;
  width: 80%;
  text-align: left;
}

.subtitle-vision {
  color: black;
  font-size: 40px;
  margin-bottom: 45px;
  margin-top: 45px;
}

.text-vision {
  font-size: 18px;
  color: black;
}

/* unit kerja */
.container-unit {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-top: 51px;
  margin-bottom: 52px;
}

.title-unit {
  color: green;
  margin-bottom: 40px;
  margin-top: 0px;
}

.star-icon {
  color: blue;
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-container-unit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.grid-item-unit {
  border: 2px solid black;
  padding: 20px;
  width: 250px;
  text-align: center;
}

/* perkembangan */
/* Main Container Style */
.container-perkembangan {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-top: 81px;
  margin-bottom: 61px;
}

/* Title Style */
.title-perkembangan {
  color: green;
}

/* Row Style */
.row-perkembangan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Column Style */
.column-perkembangan {
  flex: 1;
  padding: 20px;
  padding-left: 130px;
  padding-right: 130px;
}

/* Icon Style */
.icon-perkembangan {
  font-size: 100px;
  color: green;
}

/* Arrow Style */
.arrow-perkembangan {
  font-size: 50px;
  color: green;
  margin: 0 20px;
}

/* Text Style */
.text-perkembangan {
  font-size: 18px;
  color: black;
}

/* Feadback css */
body-feedback {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container-feedback {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 110px;
}

.title-feedback {
  color: #008000;
  text-align: center;
}

.text-feedback {
  color: #000000;
  font-size: 16px;
  text-align: center;
}

.form-group-feedback {
  background-color: #32cd32;
  padding: 20px;
  padding-right: 40px;
  margin: 20px 0;
  border-radius: 5px;
}

.form-group-feedback label {
  display: block;
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-group-feedback input[type="text"],
.form-group-feedback input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.form-group-feedback small {
  display: block;
  color: #000000;
  font-size: 14px;
  margin-top: 5px;
}

.radio-group-feedback {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.radio-group-feedback label {
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}

.radio-group-feedback input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
}

.submit-btn-feedback {
  background-color: #32cd32;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  float: right;
}

.submit-btn-feedback:hover {
  background-color: #228b22;
}

.star-feedback {
  color: #0000ff;
  font-size: 24px;
  text-align: center;
  display: block;
  margin-top: 20px;
}

/* penggolongan usia */
.body-age-classification {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  text-align: center;
}

.header-age-classification {
  color: #228b22;
}

.container-age-categories {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.category-age {
  background-color: #a7c957;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
}

.category-age:nth-child(2) {
  background-color: #6a994e;
}

.category-age:nth-child(3) {
  background-color: #386641;
}

.category-title {
  color: black;
  font-size: 24px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.book-item {
  width: 100px;
  height: 150px;
  background-color: #1e90ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 5px;
}

/* pengumuman css */
.container-announcement {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-top: 35px;
  margin-bottom: 35px;
}

.header-announcement {
  color: green;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 0px;
}

.star-announcement {
  color: blue;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.announcement-box {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.date-box {
  background-color: #52A940;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

/* Content box style */
.content-box {
  padding: 10px;
}

/* Next button style */
.next-button-announcement {
  background-color: #52A940;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-left: 1450px;
}

.next-button-announcement:hover {
  background-color: #228b22;
}

/* biodata css */
.container-biodata {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 28px;
  margin-bottom: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

/* Card style for each publisher */
.card-biodata {
  background-color: #4caf50;
  color: white;
  width: 250px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Image in the card */
.card-biodata img {
  width: 50px;
  height: 50px;
}

/* Title inside the card */
.card-title {
  font-size: 20px;
  margin: 10px 0;
}

/* Content paragraphs in the card */
.card-content {
  text-align: left;
  font-size: 14px;
}

/* Review css */
.container-review {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px;
  margin-top: 46px;
  margin-bottom: 46px;
}

/* Review card styling */
.card-review {
  background-color: #9bdd8b;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Image for the review card */
.review-image {
  width: 100px;
  height: 150px;
}

/* User name in the review card */
.user-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* Review date styling */
.review-date {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.review-text {
  margin: 10px 0;
}

.helpful {
  margin: 10px 0;
}

.helpful-btn {
  background-color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.recommendations-container {
  margin-top: 10px;
}

.recommendation-image {
  width: 50px;
  height: 75px;
  margin: 5px;
}

/* css Feedback Penilaian */
body-penilaian {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.kontainer-penilaian {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 67px;
  margin-top: 100px;
}

.kontainer-penilaian p {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 30px;
}

.input-container {
  background-color: #32cd32;
  padding: 20px;
  border-radius: 5px;
  padding-right: 25px;
  margin-right: -25px;
  margin-left: -48px;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.kontainer-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #32cd32;
  padding: 15px;
  margin-left: 104px;
  margin-right: 130px;
  margin-bottom: 67px;
  border-radius: 5px;
}

.lingkaran {
  width: 75px;
  height: 75px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.5s;
  font-size: 30px;
}

.lingkaran.aktif {
  background-color: blue;
  color: white;
  transform: scale(1.1);
}

.button-feedback-penilaian {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.button-feedback-penilaian button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 1000px;
}

.button-feedback-penilaian button.back {
  background-color: #32cd32;
  color: #fff;
  margin-left: -460px;
  border-radius: 25px;
}

.button-feedback-penilaian button.back:hover {
  background-color: #228b22;
}

.button-feedback-penilaian button.next {
  background-color: #32cd32;
  color: white;
  margin-left: 1140px;
  border-radius: 25px;
}

.button-feedback-penilaian button.next:hover {
  background-color: #228b22;
}

/* css Feedback Saran */
.container-saran{
  text-align: center;
  margin-top: 85px;
  margin-bottom: 85px;
}

.title-saran {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-left: 270px;
  margin-bottom: 22px;
}

.textarea-saran {
  width: 1293px;
  height: 303px;
  background-color: #32cd32;
  border: none;
  color: #000;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
  font-family: Arial, sans-serif;
  margin-right: 28px;
}

.button-saran {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.button-saran button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 1000px;
}

.button-saran button.back {
  background-color: #32cd32;
  color: #fff;
  margin-left: -460px;
  border-radius: 25px;
}

.button-saran button.back:hover {
  background-color: #228b22;
}

.button-saran button.next {
  background-color: #32cd32;
  color: white;
  margin-left: 1140px;
  border-radius: 25px;
}

.button-saran button.next:hover {
  background-color: #228b22;
}

/* css Makasih */
.container-makasih {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 70px;
  margin-top: 30px;
  display: flex;
}

.container-makasih2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1; /* Agar container ini mengambil ruang yang tersisa */
}

.emoji-makasih {
  font-size: 360px;
  margin-right: 280px;
}

.header2-makasih {
  font-size:64px;
  margin-bottom: 0;
}

.makasih {
  font-size: 39px;
  color: #555;
  margin-right: 175px;
  margin-bottom: 67px;
  margin-top: 67px;
}

.confirm-button {
  background-color: #32cd32;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  float: right;
  margin-left: 450px;
}

.confirm-button:hover {
  background-color: #228b22;
}