include _Article Card Berita.pug
include _Article Card Perkembangan.pug
include _bottonnext.pug
include _buttonback.pug
include _buttonconfirm.pug
include _buttonprev.pug
include _buttonviewmore.pug
include _footer.pug
include _Form.pug
include _header.pug