mixin navbar
  nav.navbar
    img.navbar-logo(src="komponen/img/logo.png" alt="Logo")
    ul.nav
      li.nav-item
        a(href="index.html") Home
      li.nav-item
        a(href="#") Profile >
        ul.dropdown
          li.dropdown-item
            a(href="visimisi.html") Visi dan Misi
          li.dropdown-item
            a(href="strukturorganisasi.html") Struktur Organisasi
          li.dropdown-item
            a(href="perkembangan.html") Perkembangan
          li.dropdown-item
            a(href="unitkerja.html") Unit Kerja
      li.nav-item
        a(href="#") Service >
        ul.dropdown
          li.dropdown-item
            a(href="feedback.html") Feedback
          li.dropdown-item
            a(href="penggolonganusia.html") Penggolongan Usia
          li.dropdown-item
            a(href="lokasiperpusum.html") Lokasi Perpusum
          li.dropdown-item
            a(href="biodata.html") Biodata Penerbit
      li.nav-item
        a(href="#") Activity >
        ul.dropdown
          li.dropdown-item
            a(href="berita.html") Berita
          li.dropdown-item
            a(href="pengumuman.html") Pengumuman
      li.nav-item
        a(href="#") Recommendation >
        ul.dropdown
          li.dropdown-item
            a(href="direkomendasikan.html") Direkomendasikan
          li.dropdown-item
            a(href="review.html") Review Pengguna
      li.nav-item
        a(href="search.html") Search
      li.nav-item
        button.language-btn English
