mixin iconColumn(iconClass)
  .column-perkembangan
    a(href='perkembangan1.html')
      i(class=iconClass + " icon-perkembangan")

mixin textColumn(title, description)
  .column-perkembangan
    a(href='perkembangan1.html')
      h2.judul-perkembangan= title
      p.text-perkembangan= description
