mixin perkembangan(imageSrc, title, description)
  .image-container-perkembangan1
    i(class=imageSrc + " icon-container-perkembangan1")
  .title-perkembangan1 #{title}
  .description-perkembangan1
    p #{description}
