mixin iconColumn(iconClass)
  .column-perkembangan
    i(class=iconClass + " icon-perkembangan")

mixin textColumn(title, description)
  .column-perkembangan
    h2= title
    p.text-perkembangan= description
