style.
    .button {
        background-color: #52A940;
        font-size: 20pt;
        border: none;
        color: #000000;
        padding: 9px;
        width: 90px; // tambahkan px untuk ukuran
        border-radius: 5px;
    }
    .button:hover {
        color: #0015FF;
        background-color: #7DBF70;
    }

button.button Next
