mixin navbar
  nav.navbar
    img.navbar-logo(src="../img/logo.png" alt="Logo")
    ul.nav
      li.nav-item
        a(href="#") Home
      li.nav-item
        a(href="#") Profile >
        ul.dropdown
          li.dropdown-item
            a(href="#") Visi dan Misi
          li.dropdown-item
            a(href="#") Struktur Organisasi
          li.dropdown-item
            a(href="#") Perkembangan
          li.dropdown-item
            a(href="#") Unit Kerja
      li.nav-item
        a(href="#") Service >
        ul.dropdown
          li.dropdown-item
            a(href="#") Feedback
          li.dropdown-item
            a(href="#") Penggolongan Usia
          li.dropdown-item
            a(href="#") Lokasi Perpusum
          li.dropdown-item
            a(href="#") Biodata Penerbit
      li.nav-item
        a(href="#") Activity >
        ul.dropdown
          li.dropdown-item
            a(href="#") Berita
          li.dropdown-item
            a(href="#") Pengumuman
      li.nav-item
        a(href="#") Recommendation >
        ul.dropdown
          li.dropdown-item
            a(href="#") Direkomendasikan
          li.dropdown-item
            a(href="#") Review Pengguna
      li.nav-item
        a(href="#") Search
      li.nav-item
        button.language-btn English
