include pug/_header.pug
include pug/_Article Card Berita.pug
include pug/_footer.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='css/footer.css')
        title Berita
    body 
      +dropdown('Profile', [
        {text: 'Visi dan Misi', href: '#Visi dan Misi'},
        {text: 'Struktur Organisasi', href: '#Struktur Organisasi'},
        {text: 'Perkembangan', href: '#Perkembangan'},
        {text: 'Unit Kerja', href: '#Unit Kerja'}
      ])
      +dropdown('Service', [
        {text: 'Feedback', href: '#Feedback'},
        {text: 'Penggolongan Usia', href: '#Penggolongan Usia'},
        {text: 'Lokasi Perpusum', href: '#Lokasi Perpusum'},
        {text: 'Biodata Penerbit', href: '#Biodata Penerbit'}
      ])
      +dropdown('Activity', [
        {text: 'Berita', href: '#berita'},
        {text: 'Pengumuman', href: '#pengumuman'}
      ])
      +dropdown('Recommendation', [
        {text: 'Direkomendasikan', href: '#Direkomendasikan'},
        {text: 'Review Pengguna', href: '#Review Pengguna'}
      ])
      a(href="#search") 🔍Search
      +langButton('English')
      +footer

